@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'souceSansProRegular';
        font-style: normal;
        font-weight: 400;
        src: url(../fonts/SOURCESANSPRO-REGULAR.OTF) format('otf');
    }

    @font-face {
        font-family: 'monseratBlackBold';
        font-weight: bold;
        font-style: normal;
        src: url(../fonts/MONTSERRAT-BLACK.OTF) format('otf');
    }

    @font-face {
        font-family: 'monseratBlack';
        font-weight: normal;
        font-style: normal;
        src: url(../fonts/MONTSERRAT-BLACK.OTF) format('otf');
    }

    html {
        font-family: "souceSansProRegular";
        scroll-behavior: smooth;
        overflow-x: hidden;
      }
}
