html { scroll-behavior: smooth; }
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 16px !important;
    height: 4px !important;
    border-radius: 5px !important;
    margin: 0 6px !important;
}

.swiper-pagination {
    bottom: 2px !important;
}

.swiper-wrapper {
    height: max-content !important;
    width: max-content !important;
    padding-bottom: 64px;
}

.swiper-pagination-bullet-active {
    background: #4F46E5 !important;
}

.swiper-slide.swiper-slide-active>.slide_active\:border-indigo-600 {
    --tw-border-opacity: 1;
    border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

.swiper-slide.swiper-slide-active>.group .slide_active\:text-gray-800 {
    ---tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}

@font-face {
    font-family: 'monseratBlackBold';
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/MONTSERRAT-BLACK.OTF) format('otf');
}

.image-wrapper {
    position: relative; /* to contain the absolute positioned image */
  }
  
  .image-wrapper img {
    max-width: 100%; /* make images responsive */
    transition: transform 0.3s; /* add transition effect */
  }
  
  .image-wrapper img.enlarged {
    transform: scale(1.5); /* enlarge the image */
    z-index: 1; /* bring the enlarged image to the front */
    position: absolute; /* take the image out of the document flow */
    top: 50%; /* center the image vertically */
    left: 50%; /* center the image horizontally */
    transform: translate(-50%, -50%) scale(1.5); /* adjust the position and scale */
  }